<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>front page</title>
    <link rel="stylesheet" href="/stylesheets/front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow">
  </head>
  <body>
    <div class="parallax">
      <div class="iconDash" style="height: 60px; width: 100%; position: fixed; top: 0; left: 0; z-index: 99; min-width: 1250px;">
        <a href="#" class="button" style="background-color:#474f5f; color:white; margin-right:30px; margin-top:9px; float:right; font:15px Lato, arial, helvetica, sans-serif; text-transform:uppercase; text-align:center; padding:12px 15px; cursor:pointer;">SignUp</a>
        <a href="#" class="button" style="background-color:#474f5f; color:white; margin-right:30px; margin-top:9px; float:right; font:15px Lato, arial, helvetica, sans-serif; text-transform:uppercase; text-align:center; padding:12px 15px; cursor:pointer;">LogIn</a>
      </div>
      <div id="animated-example" class="animated lightSpeedIn">
        <p>PROTOFRAME,</p>
        <p>A WIREFRAMING TOOL</p>
      </div>
      <div class="photo">
        <img src="/images/macmockup.png" style="width:650px; height:650px; margin-left:70px; margin-top:50px;">
      </div>
      <div class="create">
        <a href="/views/index.html" class="button" style="color:white;" method="GET">START CREATING</a>
      </div>
    </div>
  </body>
</html>
