<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>front page</title>
    <link rel="stylesheet" href="/stylesheets/front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway">
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow">
  </head>
  <body>
    <div class="parallax">
      <div id="animated-example" class="animated lightSpeedIn">
        <p>PROTOTYPE,</p>
        <p>A WIREFRAMING TOOL</p>
      </div>
      <div class="photo">
        <img src="/images/macmockup.png" style="width:650px; height:650px; margin-left:70px; margin-top:50px;">
      </div>
      <div class="create">
        <a href="#" class="button" style="color:white;">START CREATING</a>
      </div>
    </div>
  </body>
</html>
