.parallax {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #C4CBCA;
  background-attachment: scroll; /*fixed: image scrolls; scroll: image stays*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create {
  background-color: #a4cdd1;
  min-width: 214px;
  border: none;
  height: 43px;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right:0;
  font: 700 15px Lato, arial, helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  padding: 13px 15px 10px;
  margin-right: 300px;
  margin-bottom: 290px;
  border: none;
  cursor: pointer;
}


#animated-example {
  font: 700 45px Lato, arial, helvetica, sans-serif;
  color: #5D5F71;
  float: right;
  margin-top: 250px;
  margin-right: 145px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes lightSpeedIn {
  0% { transform: translateX(100%) skewX(-30deg); opacity: 0; }
  60% { transform: translateX(-20%) skewX(30deg); opacity: 1; }
  80% { transform: translateX(0%) skewX(-15deg); opacity: 1; }
  100% { transform: translateX(0%) skewX(0deg); opacity: 1; }
}

.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}
.animated.lightSpeedIn {
  animation-duration: 1s;
}
